*{
    text-align: center;

}

#container{
    height: 400px;
    width: 400px;
    margin: auto;
    border: 2px solid green;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;

}

#container div{
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    font-size: 3em;
}


#nav{
    height: 50px;
    width: 900px;
    margin: auto;
    background-color: palevioletred;
    border: 2px solid green;
    border-radius: 20px;
    display: flex;
}

#nav div{
    height: 50px;
    width: 80px;
    font-size: 24px;
    display: inline-block;
    justify-content: left;
    align-content: space-evenly;

}

