*{
    font-family: 'Courier New';
    
}


h1{
    color: #b92b27;
}


h3{
    color: purple;
}

#login{
    color: black;
    background-color: white;
}

#signup{
    color: white;
    background-color: #b92b27;
}

.upvote{
    color: white;
    background-color: black ;
}


.post a{
    color: purple;
    background-color: yellow;
}

nav ul li a{
    color: hotpink;
}

p+h3{
    text-decoration: underline;
}