*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: wheat;
    color: #964B00;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: black;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(0, 255,0);
}

h4,p,h3{
    text-align: center;
}

p{
    color: red;
    line-height: 30px;
}

button{
    background-color: white;
    color: blueviolet;
}

textarea{
    color: black;
}

